@{
    ViewBag.Title = "";
}


<div class="banner">
    <h3>Profissionais qualificados</h3>
    <h3>sempre pertinho de você</h3>
    <h3>Agilidade</h3>
    <h4>Encontre profisionais com falidade e praticidade.</h4>
    <img src="../Content/img/banner-map.png">
</div>
